<div>
  <ngoffline></ngoffline>
  <p ngoffline (isOnline)="checkNetworkStatus($event)"></p>

  <h1 style="text-align: center;color: azure;">Network connexion status is</h1>

  <div [ngClass]="{'offline': !status,'connected': status}">
    <div class="start-button" style="margin-bottom: 160px">
      <a
        href="#"
        class="js-start-test test-mode-multi animated clickable fadeIn"
        id="start_test_speed"
      >
        <span class="start-ring"></span>
        <span class="start-background"></span>
        <span class="start-border"></span>
        <span
          class="start-text">{{ status ? "Connected" : "Offline" }}</span
        >
      </a>
    </div>
  </div>
</div>
